node-linker=hoisted
link-workspace-packages=true
ignore-scripts=false
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Force pnpm to download prebuilt binaries for all target platforms
# This solves the missing native dependencies issue when packaging for Win/Linux from Mac, or via CI.
supportedArchitectures.cpu=x64,arm64
supportedArchitectures.os=darwin,win32,linux
supportedArchitectures.libc=glibc,musl